*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all environment files, except for template files
/.env*
!/.env*.erb

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/public/assets

# Ignore master key for decrypting credentials and other encrypted files.
/config/master.key

# Byebug command history file
.byebug_history

# Ignore application configuration
/config/application.yml
